<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="patient-table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Broj kartona</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Opcije</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients | paginate: {itemsPerPage:5, currentPage: p}">
      <th scope="row">{{patient.id}}</th>
      <td>{{patient.patientName}}</td>
      <td>{{patient.patientSurame}}</td>
      <td><button  type="submit"  class="btn btn-primary"  (click)="getDiagnose(patient.id)">Dijagnoza</button>
          <button  type="submit"  class="btn btn-primary" (click)="showPatient(patient.id)" >Profil</button></td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
</body>
</html>
