<div class="register">
  <h3>Pregled</h3>

  <p *ngIf="currentPatient">Pacijent: {{currentPatient.patientName}} {{currentPatient.patientSurame}}</p>

  <div class="form-group" *ngIf="currentPatient">
    <label for="rep">Unesite broj kartona:</label>
    <input type="text" class="form-control" id="rep" placeholder="Pacijent" name="usr"
           [(ngModel)]="currentPatient.id" disabled>
  </div>

  <div class="form-group" *ngIf="diseaseSymptoms.length != 0">
    <label for="symptomsOfDisease">Simptomi bolesti</label>
    <table class="table table-hover" id ="symptomsOfDisease">
      <tbody>
      <tr *ngFor="let item of diseaseSymptoms | paginate: {itemsPerPage:2, currentPage: p}">
        <td><fieldset disabled=""><input type="text" [(ngModel)]="item.text" class="form-control" /></fieldset></td>
        <td><button type="submit" (click)="removeSymptom(item.id)" class="btn btn-primary" id="diseaseButton">
          Ukloni simptom
        </button></td>
      </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>


  <div class="form-group">
    <label for="exampleSelect1">Dodajte simptom:</label>
    <div class="form-inline">
      <select   class="form-control" id="exampleSelect1" [(ngModel)]="option">
        <option *ngFor="let item of symptoms">{{item.text}}</option>
      </select>
      <button type="submit" (click)="addSymptom()"  class="btn btn-primary" id="addSymptomButton">Dodaj simptom</button>
    </div>
  </div>


  <div class="form-group">
    <button type="submit" (click)="diagnose()"  class="btn btn-primary" id="registerButton">Pokreni rezoner</button>
    <button type="submit" (click)="diagnose()"  class="btn btn-primary" id="registerButton">Potencijalne bolesti</button>
    <button type="submit" (click)="diagnose()"  class="btn btn-primary" id="registerButton">Uspostavi dijagnozu</button>
  </div>
</div>
